
/* -----------mainpage styles------------------ */
.a{
    font-family: bradley hand itc;
    /* color:ghostwhite; */
    color:azure;
    font-size: 60px;
   
    
}
.mainbutton{
    height: 30px;
    width: 130px;
    font-size: larger;
    border-radius: 5px;
    margin: 150px 4px 0px 4px;
    background-color: palevioletred;
}

/*---------------admin------*/

#admin-page {
    background-image: url('/public/yoyo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    padding: 20px;
}

#logout-btn {
    height: 5vh;
    width: 10vw;
    font-size: 1rem;
    background-color: #a18386;
    border-radius: 1vb;
    color: #fff;
    border: none;
    cursor: pointer;
}

#admin-page h1 {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
}

#table-container {
    max-height: 70vh;
    overflow-y: auto;
}

#user-table {
    margin: 0 auto;
    font-size: 1.5rem;
    border-collapse: collapse;
    width: 100%;
}

#user-table th {
    padding: 10px;
    background-color: #a18386;
    color: #fff;
}

#user-table td {
    padding: 10px;
    text-align: center;
}

.even {
    background-color: #f2f2f2;
}

#user-table .delete-btn {
    background-color: #a18386;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}



/* --------------signup page styles--------------------- */

.signupbox{
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border-color: #FFF6F6;
}

.signupbutton{
    height: 30px;
    width: 300px;
    border-radius: 7px;
    font-size: 18px;
    background-color: #DF7857;
}
.cap1{
    font-family: bradley hand itc;
    font-size: 70px;
    margin-bottom: 30px;
    color: black;
}

.signupback{
    height: 30px;
    width: 150px;
    font-size: 15px;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: #DF7857;
}

/* --------------signup page styles--------------------- */

.signinbox{
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border-color: #FFF6F6;
    font-size: 18px;
}

.signinbutton{
    height: 30px;
    width: 300px;
    border-radius: 7px;
    font-size: 18px;
    background-color: #DF7857;
}

.signinback{
    height: 30px;
    width: 150px;
    font-size: 15px;
    margin-bottom: 50px;
    border-radius: 5px;
    /* border-color: #FFF6F6; */
    background-color: #DF7857;
}

/*----------------home page -------------------------*/

.logout{
    height: 30px;
    width: 120px;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #F1B4BB;
}

.show{
    height: 30px;
    width: 120px;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #F1B4BB;
}

.add{
    height: 30px;
    width: 90px;
    font-size: 15px;
    border-radius: 5px;
    /* border-color: #FFF6F6;  */
    background-color: #F1B4BB;
}

.titlebox{
    height: 50px;
    width: 600px;
    margin-right: 25px;
    border-radius: 5px;
    border-color: #FFF6F6;
}

.contentbox{
    height: 330px;
    width: 710px;
    border-radius: 5px;
    border-color: #FFF6F6;
}
/*---------------show-------------*/

.separateentry{
    display: inline-block;
    border: 2px dashed rgba(70, 123, 51, 0.837);
    padding: 30px;
}

.showback{
    background-color: #94A684;
    border-radius: 5px;
    height: 30px;
    width: 90px;
}

.delete{
    background-color: #94A684;
    border-radius: 5px;
    height: 20px;
    width: 70px;
    margin-right: 5px;
}
.edit{
    background-color: #94A684;
    border-radius: 5px;
    height: 20px;
    width: 70px;
}

.divi{
    box-sizing: border-box;
    overflow-y: scroll;
    padding: 10px 40px 10px 40px;
    margin-top: 40px;
    border: ridge 5px #94A684;
}
.divi::-webkit-scrollbar{
    width: 10;
}
.divi::-webkit-scrollbar-thumb{
    background: transparent;
}

/*---------------edit-------------*/

.update{
    height: 30px;
    width: 90px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #5287ad;
}
.editbackbutton{
    height: 30px;
    width: 100px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #5287ad;
    margin-bottom: 30px;
}

*{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
}
